
.gameBoard{
    height: 70vh;
    width: 100vw;
    display: none;
    grid-template-columns: repeat(3,auto);
    place-content: center;
    gap: .2rem;
}
.cell{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    place-content: center;
}
.cellText{
    text-align: center;

    height: .9em;
    font-size: 5em;
    width: .9em;

}
.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}
.cell:last-child,.cell:nth-child(8),.cell:nth-child(7){
    border-bottom: none;
}
.cell:nth-child(3n+1){
    border-left:none ;
}
.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){
    border-right:none ;
}
.cell:hover{
cursor: pointer;
}
.x{
    content: "X";
}
.cell.x{
    content: "X";
    color: black;
}

.startAgainBtn,
.winnerText{
    display: none;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playerInfo{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}
.winnerDiv{
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
}